/* CSS files --> abilities.html */
body{
    background-color: #393E46;
}
.table-menu{
    width:100%; 
    text-align: center;
    background-color: #00ADB5;
    font-family: 'Cinzel';
} 
h1{
    text-align: center; 
    font-family: 'Cinzel';
    background-color: #00ADB5;
} 
h4{
    text-align: center; 
    font-family:'Amatic SC'; 
    font-weight: normal;
    color: floralwhite;
}
h5{ 
    text-align: center; 
    font-family:'Amatic SC'; 
    font-weight: normal;
    color: floralwhite;
}
h2{ 
    text-align: center;
    background-color: #EEEEEE;
    font-family: 'Cinzel';
} 
.table-skills{
    margin-left: auto; 
    margin-right: auto; 
    background-color: #EEEEEE;
    font-family: 'Sahitya';
    border-style: dashed;
    border-color:#00ADB5;
}
/* ใส่กล่องในกับหัวข้อเมนู ด้วยคำสั่ง Button */
.btn-1{
    background-color:#00ADB5;
    padding: 10px 30px;
    font-family:'Cinzel'; 
}
.btn-2{
    background-color: #00ADB5;
    padding: 10px 30px;
    font-family:'Cinzel'; 
}
.btn-3{
    background-color: #00ADB5;
    padding: 10px 30px;
    font-family:'Cinzel'; 
}
.btn-4{
    background-color: #00ADB5;
    padding: 10px 30px;
    font-family:'Cinzel'; 
}
.btn-5{
    background-color: #00ADB5;
    padding: 10px 30px;
    font-family:'Cinzel'; 
}
.btn-1:hover {
    background-color: #EEEEEE;
}
.btn-2:hover {
    background-color: #EEEEEE;
}
.btn-3:hover {
    background-color: #EEEEEE;
}
.btn-4:hover {
    background-color: #EEEEEE;
}
.btn-5:hover {
    background-color: #EEEEEE;
}