/* CSS files --> contact.html */
body{
    background-color: #283C63;
}
h1{
    text-align: center;
    font-family: 'Cinzel';
    background-color: #FFEFBC;
}
label{
    font-family: 'Sahitya';
}
.table-menu{
    width:100%; 
    text-align: center;
    background-color: #928A97;
    font-family: 'Cinzel';
}
.table-content{
    width: 100%;
    text-align: center;
    background-color: #F85F73;
}
.p-email{
    font-family: 'Sahitya';
}
/* ใส่กล่องในกับหัวข้อเมนู ด้วยคำสั่ง Button */
.btn-1{
    background-color:#FBE8D3;
    padding: 10px 30px;
    font-family:'Cinzel'; 
}
.btn-2{
    background-color: #FBE8D3;
    padding: 10px 30px;
    font-family:'Cinzel'; 
}
.btn-3{
    background-color: #FBE8D3;
    padding: 10px 30px;
    font-family:'Cinzel'; 
}
.btn-4{
    background-color: #FBE8D3;
    padding: 10px 30px;
    font-family:'Cinzel'; 
}
.btn-5{
    background-color: #FBE8D3;
    padding: 10px 30px;
    font-family:'Cinzel'; 
}
.btn-1:hover {
    background-color: #EEEEEE;
}
.btn-2:hover {
    background-color: #EEEEEE;
}
.btn-3:hover {
    background-color: #EEEEEE;
}
.btn-4:hover {
    background-color: #EEEEEE;
}
.btn-5:hover {
    background-color: #EEEEEE;
}